* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
}
.navcontainer {
  padding: 5px 3%;
  width: 100%;
}
.logo {
  width: 50%;
  font-size: 2rem;
  color: #fff;
  margin-left: -70px;
}
.navbar {
  list-style-type: none;
  margin: 0 20px 0 auto;
}
.navbar li {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}
.navlink {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
.navbarStyle {
  color: white;
}
@media screen and (max-width: 768px) {
  .logo {
    margin-left: auto;
  }
  .smallNav {
    line-height: 1;
  }
}
