

/* Slide */

* {box-sizing: border-box;}
body {font-family: 'Montserrat', sans-serif;}
.mySlides {display: none;}
.mySlides img {vertical-align: middle; width: 100%;}

/* Slideshow container */

aside {display: none;}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active {
  background-color: #717171;
}

#dot {
    text-align:center
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.main1 {
    display: flex;
    flex-flow: column nowrap;
}

.top {
    width: 100%;
}

.txt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

#s {
    width: 414px;
    height: 310.5px;
    display: block;
    z-index: -1;
}

/* Menu description */

.content {
    display: flex;
    flex-flow: column nowrap;
}

div.card {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 10px;
    border: none;
}

.card .img {
    width: 40%;
    padding-right: 5px;
}

.card .desc {
    width: 60%;
}

 .card img{
     width: 100%;
}

.button {
    border: 1px solid #3b5998;
    background-color: #3b5998;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-right: 20px;
}

ul li a {text-decoration: none;color: #000;}

    ul li a:hover {color: #3b5998;}
    .button:hover {background-color: white;}

@media screen and (min-width:600px) {

    .top {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        height: 575px;
    }

    .slideshow-container {
       margin: 0;
       max-width: 1000px;
    }
    aside {
        display: flex;
        width: 45%;
        background-color: #717171;
        justify-content: center;
        align-items: center;
    }
    .txt1 {
        text-align: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 900;
        color: white;
    }
    .content {
        flex-flow: row wrap;
        margin: 0 50px;
        width: 100%;
    }
    div.card {
        width: 30%;
    }
}