* {
  overflow-x: hidden;
  font-family: sans-serif;
}
.productcontainer img {
  width: 200px;
  height: 200px;
}
.productcontainer {
  margin: 10px;
  box-shadow: 0 0 1px #000;
}
.productcontainer p {
  font-size: 1rem;
  line-height: 1.3;
  margin: 5px 0 0 5px;
}
.btnp {
  display: flex;
  margin: 10px 0;
  align-items: center;
}
.btnp button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px 0 auto;
  background-color: #4267b2;
  color: #fff;
  cursor: pointer;
}
/* .btnp p{
    margin: 5px 0 0 0;
} */
.product_show {
  /* background-color: ; */
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  margin-bottom: 300px;
  padding: 0 0 0 15px;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .product_show {
    width: 120%;
  }
  .productcontainer img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 300px) {
  .product_show {
    /* background-color: ; */

    margin: 20px auto;
    padding: 0 0 0 10px;
  }
  .productcontainer img {
    width: 120px;
    height: 120px;
  }
  .product_show {
    width: 100%;
  }
}
