@media only screen and (max-width: 768px) {
  .justify-content-md-center {
    padding: 20px;
    margin-bottom: 50px;
  }
}
.main {
  height: 1500px;
}
.ImgeResize {
  width: 100%;
  height: 100%;
  padding: auto;
  padding-left: 45px;
}
.ImgeResize:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}
.horizontalStyle {
  width: 150px;
  margin: auto;
  background-color: red;
  border-top: 3px dashed #8c8b8b;
}
.simpleMenu {
  width: 100%;
  margin-top: 10em;
}
.simpleText {
  margin-top: -20em;
}
.imgSize {
  height: 250px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.nameStyle {
  background-color: #4267b2;
  color: white;
  padding: 2px;
  border-bottom-right-radius: 50px;
}
